*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#fff;
}

header{

position:fixed;
top:0;
left:0;

width:100%;
height:80px;

display:flex;
justify-content:space-between;
align-items:center;

padding:0 40px;

background:white;

border-bottom:1px solid #ddd;

z-index:1000;

}

.logo{

font-size:32px;
font-weight:bold;
letter-spacing:5px;

}

nav a{

margin:20px;
text-decoration:none;
color:black;

}

.search input{

width:260px;

padding:10px;

}

.container{

display:flex;

margin-top:80px;

}

aside{

width:250px;

padding:30px;

border-right:1px solid #ddd;

height:100vh;

position:sticky;
top:80px;

}

aside h3{

margin-top:20px;
margin-bottom:10px;

}

aside li{

list-style:none;
margin:15px 0;

}

aside a{

text-decoration:none;
color:black;

}

main{

flex:1;

padding:30px;

}

.hero{

width:100%;
height:700px;

object-fit:cover;

margin-bottom:40px;

}

.cards{

display:grid;

grid-template-columns:1fr 1fr;

gap:40px;

}

.card img{

width:100%;
height:700px;

object-fit:cover;

}

.card h2{

text-align:center;

padding:20px;

border:1px solid black;

margin-top:20px;

font-weight:normal;

letter-spacing:2px;

}

.card a{

text-decoration:none;

color:black;

}